

/*************************************************
// VARIABLES
*************************************************/

$screen-xl: 1500px;
$screen-lg: 1200px;
$screen-md: 992px;
$screen-sm: 760px;
$screen-xs: 480px;
$screen-xss: 340px;

$font-family-sans-serif: 'Open Sans',
Arial,
sans-serif;
$font-size-base: 10px;
$line-height-base: 1;
$link-hover-color:inherit;
$link-hover-decoration:none;
/*************************************************
// GRID
*************************************************/

@import 'base/_grid';

/*************************************************
// FONTS
*************************************************/

@import 'base/_fonts';

/*************************************************
// MIXINS
*************************************************/

@import 'base/_mixins';

/*************************************************
// COULEURS DU SITE
*************************************************/

@import 'base/_colors';

/*************************************************
// BASE
*************************************************/


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    outline: none;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-variant-ligatures: common-ligatures;
    -webkit-font-variant-ligatures: common-ligatures;
}

/*************************************************
// BASE
*************************************************/

html {
    font-size: 5.2px;
    font-family: $font;
    color: $blanc;
    width: 100%;
    min-height: 100%;
    overflow-x: hidden;
    font-kerning: none;
    white-space: pre-line;

    &.noscroll {
        overflow: hidden;
    }

    @media (min-width: $screen-sm) {
        font-size: 6.1px;
    }

    @media (min-width: $screen-md) {
        font-size: 7.2px;
    }

    @media (min-width: $screen-lg) {
        font-size: 8.5px;
    }

    @media (min-width: $screen-xl) {
        font-size: 10px;
    }
}

body {
    min-height: 100%;
    width: 100%;
    font-family: $font;
    background-color: $noir;
    position: relative;
    overflow: hidden;
}

#wrapper {
    max-width: 100vw;
    height: 100%;
}

button,
input,
textarea {
    border: none;
    background: none;
}

a,
button {
    transition: all .3s ease;
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

a img {
    border: 0;
}

a:hover,
button:hover {
    text-decoration: none;
}

img,
svg {
    vertical-align: middle;
    border: none;
}

b,
strong {
    font-family: $font;

}

ul,
li {
    list-style: none;
    list-style-type: none;
}

textarea {
    overflow: auto;
    resize: none;
}

/*************************************************
// STYLES DE CARATERES
*************************************************/

@import 'base/_styles-carateres';


/*************************************************
// PROPRIETES TEXTE
*************************************************/

.underline {
    text-decoration: underline;
}

.center {
    text-align: center;
}

.right {
    text-align: right;
}

.left {
    text-align: left;
}

.justify {
    text-align: justify;
}

.uppercase {
    text-transform: uppercase;
}

/*************************************************
// BOUTONS
*************************************************/

@import './components/_boutons';

/*************************************************
// CLASS UTILITAIRE
*************************************************/

.os-theme-dark>.os-scrollbar>.os-scrollbar-track>.os-scrollbar-handle {
    background: rgba($color: $noir, $alpha: 1) !important;

    &.menuOpen {
        opacity: 0 !important;
        pointer-events: none;
    }

    @media screen and (max-width:$screen-md) {
        opacity: 0 !important;
        pointer-events: none;
    }
}

.no-link-desktop {
    @media screen and (min-width:$screen-md) {
        pointer-events: none;
        cursor: initial;
    }
}

.hidden-pc {
    @media screen and (min-width:$screen-md) {
        display: none;
    }
}

.hidden-mobile {
    @media screen and (max-width:$screen-md) {
        display: none;
    }
}

.overflow-hidden {
    overflow: hidden;
}

@import 'base/_icons';
@import 'base/_animations';
@import 'components/_header';
@import 'components/_footer';
@import 'components/_nav';
@import 'components/_menu';
@import 'components/_not-found';
@import 'components/_social';
@import 'components/_formulaire';
@import 'components/_modal';
@import 'components/blocks/_all';
